@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


.wrapper {
  width: 100vw;
  height: 55vw;
  background-color: #191c32;
  color: #fff;
  }


  .navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }


  .brand span {
   color: rgb(127, 197, 255);
  }

  .brand {
    margin-top: -7px;
  }
  
  .menú {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }

  .menú li{
    list-style-type: none;
  }


  .menú a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .menú .active {
    color:rgb(127, 197, 255);
  }

  .menú a:hover {
    background-color: rgb(127, 197, 255);
    color: #fff;
    transition: ease-in .4s;
  }

  .main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  h1 {
    font-size: 3em;
  }

  span {
   color: rgb(127, 197, 255);
   }

   .download-cv {
     padding: 10px 20px;
     background-color:  rgb(127, 197, 255);
     border: none;
     border-radius: 20px;
     margin-top: 10px;
     cursor: pointer;
     box-shadow: 1px 3px 11px -5px rgb(102, 231, 200, .69);
     }

     .download-cv:hover {
       background-color: #fff;
       box-shadow: none;
     }

     .main img {
       width: 350px;
       border: 7px solid  rgb(127, 197, 255);
       height: 520px;
     }

     .about {
       display: grid;
       grid-template-columns: repeat(10, 1fr);
       width: 100vw;
       align-items: center;
     }

     .about img{
       width: 100%;
       grid-column: 1/5;
     }

     .about-info {
       grid-column: 5/10;
       padding: 3em;
     }

     .about-info h2{
       font-size: 2em;
       color: #191c32;
     }

     .divider {
       height: 4px;
       width: 60px;
       background-color:  rgb(127, 197, 255);
       margin-top: 5px;
       margin-bottom: 2em;
     }

     .about p {
       margin-bottom: 1em;
     }

     .portafolio {
       height: 50vw;
       width: 100vw;
       background-color: #191c32;
       color: #fff;
     }

     .portafolio-headings {
       width: 100vw;
       padding: 5em;       
     }

     .portafolio-headings h2{
       font-size: 2.5em;
      }

      .portafolio .container {
        width: 100vw;
        height: 50vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .card {
        height: 365px;
        width: 300px;
        color: #fff;
        background-color: rgb(12, 94, 100); 
        margin: 1em;
        }

        .card_img {
          width: 100%;
          height: 150px;
          background-image: url(../img/2-original.png);
          background-size: cover;
        }

        .card_title {
          padding: 20px;
        }

        .card_proyects-links {
          display: flex;
          justify-content: space-evenly;
        }

        .card_proyects-links a {
          color: #fff;
          text-decoration: none;
        }

        .card_proyects-links i {
          font-size: 1.5em;
        }

        .card .project-details {
          margin: 0 auto;
          margin: 1em;
          width: 70%;
        }

        .proyect-details-content {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-top: 1em;
        }

        .card .project-details a {
          text-decoration: none;
          color: #000000;
          text-transform: uppercase;
        }

        .contact-headings {
          font-size: 2em;
          background: #191c32;
          color: #fff;
          height: 100px;
        }

        .container-contact {
          display: flex;
          width: 100%;
          padding: 3em;
          margin: 0 auto;
          background: #191c32;
          color: #fff;
        }
  
        .container-contact img {
          width: 700px;
          height: 650px;
          bottom: 0px;
        }

        .form {
          display: flex;
          flex-direction: column;
          width: 38vw;
          margin-top: 2em;
        }

        .form input {
          padding: 10px 20px;
          margin-bottom: 1em;
          background: none;
          border: none;
          border-bottom: 1px solid #fff;
          color: #fff;
        }

        .form textarea {
          height: 150px;
          background: none;
          color: #fff;
          padding: 1.5em;
          border: 1px solid #fff;
        }

        .btn-submit {
          padding: 10px 20px;
          margin: 1em;
          border: none;
          text-transform: uppercase;
          background:  rgb(12, 94, 100); 
          border-radius: 20px;
          cursor: pointer;
          box-shadow: 1px 3px 11px -5px rgb(102, 231, 200, .69);
        }

        .btn-submit:hover {
          background-color: #fff;
          box-shadow: none;
        }

        .footer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100vw;
          height: 200px;
          background:  rgb(102, 231, 200, .69);
        }

        .footer-content h2 {
          font-size: 3em;
        }

        .footer-content h5,
        .social-network i {
          font-size: 1.5em;
          text-align: center;
        }

        .social-network {
          display: flex;
          justify-content: space-evenly;
          width: 300px;
          margin-top: 1em;
        }

       